{% extends "berlinonline.jinjardf.test.theme_a/base.html.jinja" %}

{% block title %}The Default{% endblock title %}

{% block content %}
    Ipsum adipisicing do laboris est. Est nostrud ea elit ex magna consectetur do.
    Ullamco eiusmod in sunt proident amet deserunt. Minim et labore officia aliqua velit
    ullamco sunt excepteur in officia minim occaecat eu fugiat. Laborum sint commodo ipsum
    laboris in in non deserunt nostrud cillum eiusmod id. Ex veniam consectetur cupidatat
    incididunt Lorem duis in eu officia occaecat ut cupidatat sint adipisicing.
{% endblock content %}